.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    flex-direction: column; // Alt alta sıralamak için eklendi
  
    .home-content {
      display: flex; // grid yerine flex
      flex-direction: column; // Alt alta içerikler
      align-items: center;
      width: 100%;
    }
  }
  