
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); // kutu genişliği artırıldı
  gap: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 100%;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Tablet için
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Küçük tablet/mobil
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr; // Tek sütun (mobil)
  }
  //justify-content: start;
  //max-width: unset;
  //margin: 0 auto;
  //color: #000;
  .product-grid {
     display: grid;
    grid-template-columns:repeat(auto-fill, minmax(400px, 1fr));// Genişliği ihtiyaca göre ayarla
    gap: 20px;
    padding: 20px;
  }
  .product {
    border: 1px solid #eee;
    padding: 20px; // kutu içi biraz daha ferah
    border-radius: 10px;
    text-align: left;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transform: scale(1.03); // biraz daha etkili büyüme efekti
    }
   
    .heart-icon {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 40px;
      color: #bbb;
      cursor: pointer;
      transition: color 0.3s ease;

      &.favorited {
        color: red;
      }

      &:hover {
        color: #ff6666;
      }
    }

    img {
      width: 100%; // taşıma yapmasın
      height: auto; // daha büyük bir görsel
      object-fit: cover;
      border-radius: 6px;
    }

    h3 {
      margin: 16px 0 8px;
      font-size: 20px;
    }

    .desc {
      color: #555;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .price {
      font-size: 16px;

      .old-price {
        text-decoration: line-through;
        color: #aaa;
        margin-right: 8px;
      }

      .new-price {
        color: #000;
        font-weight: bold;
      }

      .disCounted {
        background-color: #000;
        transform: translateX(50);
        span{
          background-color: #000;
        }
      }
    }
  }
}
